<div id="user-links">
Welcome, <%= current_user.email %> <%= link_to('Sign out', destroy_user_session_path, method: :delete, id: :sign_out) %>
  <%= link_to("Settings", edit_user_registration_path, id: :edit_account) %>
</div>
